[submodule "imgui"]
	path = HeavenlyEngine/thirdparty/imgui
	url = git@github.com:ocornut/imgui.git
	branch = docking
[submodule "spdlog"]
	path = HeavenlyEngine/thirdparty/spdlog
	url = git@github.com:gabime/spdlog.git
	branch = v1.x
[submodule "HeavenlyEngine/thirdparty/fmt"]
	path = HeavenlyEngine/thirdparty/fmt
	url = git@github.com:fmtlib/fmt.git
[submodule "HeavenlyEngine/thirdparty/catch2"]
	path = HeavenlyEngine/thirdparty/catch2
	url = git@github.com:catchorg/Catch2.git
	branch = v2.13.9
[submodule "HeavenlyEngine/thirdparty/imgui"]
	branch = docking
[submodule "HeavenlyEngine/thirdparty/glm"]
	path = HeavenlyEngine/thirdparty/glm
	url = git@github.com:g-truc/glm.git
