[submodule "imgui"]
	path = HeavenlyEngine/thirdparty/imgui
	url = git@github.com:ocornut/imgui.git
	branch = docking
[submodule "spdlog"]
	path = HeavenlyEngine/thirdparty/spdlog
	url = git@github.com:gabime/spdlog.git
	branch = v1.x
[submodule "HeavenlyEngine/thirdparty/fmt"]
	path = HeavenlyEngine/thirdparty/fmt
	url = git@github.com:fmtlib/fmt.git
